.container {
    border: 1px solid;
    background: #ccc;
    margin: 10px auto;
    padding: 10px;
    width: 500px;
}

li {
    list-style: none;
    border: 1px solid #fff;
    padding: 10px;
}

.title {
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    color: green;
    font-size: 30px;
    font-style: oblique;
    background: red;
    /* position: relative;
    -webkit-animation: mymove 5s infinite;*/
    /* Safari 4.0 - 8.0 */
    /*
    animation: mymove 5s infinite;*/
}


/*
@-webkit-keyframes mymove {
    from {
        top: 0px;
    }
    50% {
        top: 100px !important
    }
    to {
        top: 200px;
    }
}
*/


/* Standard syntax */

@keyframes mymove {
    from {
        top: 0px;
    }
    50% {
        top: 100px !important
    }
    /* ignored */
    to {
        top: 200px;
    }
}

.detailsContainer {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.block {
    border: 1px solid;
    margin: 10px;
    padding: 5px;
}

.errblock {
    color: red;
    display: none;
}