ul{  
	border: 2px solid;
	width: 500px;
	height: 600px;
	overflow: auto;
	margin: 5px auto;
}

li {
	list-style: none;
	border: 1px solid;
	background: #ccc;
	margin: 5px;
	padding: 5px;
}
.title {
	text-decoration: underline;
	text-align: center;
	color: green;
}
.error {
	color: red;
	font-size: 11px;
}
.nameErr {
	display: none;
}
.pwdMisMatch {
	display: none;
}